 .flex-row.row {
    display: flex;
	 flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
  .flex-row.row > [class*='col-'] > .box {
    display: flex;
	 flex: 1;
  }

.flex-row .thumbnail,
.flex-row .caption {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

/* Flex Grow Text Container */
.flex-row .caption p.flex-text {
	flex-grow: 1;
}

/* Flex Responsive Image */
.flex-row img {
	width: 100%;
	height: auto;
}

.tale {
	background: rgb(200,200,200);
	padding: 20px;
	transition: all ease-in-out 300ms;
}

.tale:nth-child(2n){
	background: rgb(240,240,240);
}

.tale:hover{
	transform:scale(1.1);
	box-shadow: 0px 0px 8px rgba(0,0,0,.7);
	z-index: 99999;
}

.btn-default{
	border:2px solid black;
	border-radius:4px;
}

.tale .btn-default{
	text-align:center;
	display: block;
}



#panel1{
	background: rgb(250,250,250);
}
#panel2{
	background: rgb(200,200,200);
}

 #panel3{
	background: rgb(150,150,150);
}

 #panel4{
	background: rgb(220,220,220);
}
article ~ .container{
	margin-bottom:50px;
}

.site-footer{
	background: rgb(150,150,150);
	margin-top: 0px!important;
}

.tab-content h4{
	text-align: center;
}